In [1]:
import pandas as pd

In [6]:
colnames = ['id', 'clump', 'cell_size', 'cell_shape', 'marg_adhesion', 'epi_cell_size', 'bare_nuclei', 
            'bland_chromatin', 'norm_nucleoli', 'mitoses', 'class_name' ]
data = pd.read_csv('./data/breast-cancer-wisconsin.data', names=colnames)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 0 to 698
Data columns (total 11 columns):
id                 699 non-null int64
clump              699 non-null int64
cell_size          699 non-null int64
cell_shape         699 non-null int64
marg_adhesion      699 non-null int64
epi_cell_size      699 non-null int64
bare_nuclei        699 non-null object
bland_chromatin    699 non-null int64
norm_nucleoli      699 non-null int64
mitoses            699 non-null int64
class_name         699 non-null int64
dtypes: int64(10), object(1)
memory usage: 65.5+ KB

In [10]:
data.groupby('class_name').describe()

                  bland_chromatin  cell_shape   cell_size       clump  \
class_name
2          count       458.000000  458.000000  458.000000  458.000000
           mean          2.100437    1.443231    1.325328    2.956332
           std           1.080339    0.997836    0.907694    1.674318
           min           1.000000    1.000000    1.000000    1.000000
           25%           1.000000    1.000000    1.000000    1.000000
           50%           2.000000    1.000000    1.000000    3.000000
           75%           3.000000    1.000000    1.000000    4.000000
           max           7.000000    8.000000    9.000000    8.000000
4          count       241.000000  241.000000  241.000000  241.000000
           mean          5.979253    6.560166    6.572614    7.195021
           std           2.273852    2.562045    2.719512    2.428849
           min           1.000000    1.000000    1.000000    1.000000
           25%           4.000000    4.000000    4.000000    5.000000
           50%           7.000000    6.000000    6.000000    8.000000
           75%           7.000000    9.000000   10.000000   10.000000
           max          10.000000   10.000000   10.000000   10.000000

                  epi_cell_size               id  marg_adhesion     mitoses  \
class_name
2          count     458.000000       458.000000     458.000000  458.000000
           mean        2.120087   1107590.563319       1.364629    1.063319
           std         0.917130    723431.757966       0.996830    0.501995
           min         1.000000     61634.000000       1.000000    1.000000
           25%         2.000000   1002614.250000       1.000000    1.000000
           50%         2.000000   1180170.500000       1.000000    1.000000
           75%         2.000000   1256870.500000       1.000000    1.000000
           max        10.000000  13454352.000000      10.000000    8.000000
4          count     241.000000       241.000000     241.000000  241.000000
           mean        5.298755   1003504.925311       5.547718    2.589212
           std         2.451606    322232.308608       3.210465    2.557939
           min         1.000000     63375.000000       1.000000    1.000000
           25%         3.000000    832226.000000       3.000000    1.000000
           50%         5.000000   1126417.000000       5.000000    1.000000
           75%         6.000000   1221863.000000       8.000000    3.000000
           max        10.000000   1371026.000000      10.000000   10.000000

                  norm_nucleoli
class_name
2          count     458.000000
           mean        1.290393
           std         1.058856
           min         1.000000
           25%         1.000000
           50%         1.000000
           75%         1.000000
           max         9.000000
4          count     241.000000
           mean        5.863071
           std         3.350672
           min         1.000000
           25%         3.000000
           50%         6.000000
           75%        10.000000
           max        10.000000