In [1]:
import pandas as pd

In [2]:
# from bokeh.plotting import figure, output_notebook,show
# output_notebook()

In [3]:
# import matplotlib.pyplot as plt
# %matplotlib inline
# import seaborn as sns #only doing this to make things pretty
# sns.set_style('darkgrid')

In [2]:
training_data = pd.read_csv('sentiment_training.csv')

In [5]:
training_data.head()

,business_id,review_id,stars_reviews,latitude,longitude,review_count,stars_restaurants,compound,negative,positive,neutral
0,39LBSx2xXIWy1PzSmX0gVg,IyfTIl2mqTLwgbvpL9ZJbg,4,36.053367,-115.279381,61,4.0,0.9900,0.041,0.131,0.828
1,PBkdlqw53cc2AZsfFD8AEQ,CniBYFBLMzsWw6g6U-XhIQ,2,36.069973,-115.174840,212,4.0,-0.1511,0.074,0.057,0.870
2,aGbjLWzcrnEx2ZmMCFm3EA,3dr_zdRIgccnC05zKGGsjg,4,36.110108,-115.172338,2537,4.0,0.9544,0.013,0.159,0.828
3,2e2e7WgqU1BnpxmQL5jbfw,zG_0thPCEfqwINHJmTb5TQ,5,36.110266,-115.170553,3984,4.5,0.7778,0.069,0.242,0.689
4,AumuGuTg3HqvtwbLPi-ZCg,e5iyrd83W9Q7KxX93gR0mw,5,36.118697,-115.154270,294,4.0,0.9406,0.024,0.152,0.824

In [3]:
training_data.describe().T

,count,mean,std,min,25%,50%,75%,max
stars_reviews,370193,3.714846,1.273596,1.000000,3.000000,4.000000,5.000000,5.000000
latitude,370193,36.119310,0.043711,35.973171,36.104801,36.117034,36.131897,36.325757
longitude,370193,-115.189820,0.050648,-115.351900,-115.208430,-115.174356,-115.166312,-114.990361
review_count,370193,655.740751,903.976610,3.000000,130.000000,319.000000,729.000000,4578.000000
stars_restaurants,370193,3.707955,0.537986,1.000000,3.500000,4.000000,4.000000,5.000000
compound,370193,0.710592,0.492334,-0.998000,0.738500,0.932500,0.978600,0.999900
negative,370193,0.043150,0.054268,0.000000,0.000000,0.029000,0.063000,1.000000
positive,370193,0.202255,0.116716,0.000000,0.125000,0.185000,0.257000,1.000000
neutral,370193,0.754547,0.107848,0.000000,0.704000,0.771000,0.824000,1.000000

In [4]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370193 entries, 0 to 370192
Data columns (total 11 columns):
business_id          370193 non-null object
review_id            370193 non-null object
stars_reviews        370193 non-null float64
latitude             370193 non-null float64
longitude            370193 non-null float64
review_count         370193 non-null float64
stars_restaurants    370193 non-null float64
compound             370193 non-null float64
negative             370193 non-null float64
positive             370193 non-null float64
neutral              370193 non-null float64
dtypes: float64(9), object(2)
memory usage: 33.9+ MB

In [5]:
# cols = ['latitude', 'longitude', 'review_count', 'compound', 'negative', 'positive', 'neutral']
cols = ['compound', 'negative', 'positive', 'neutral']
X = training_data[cols]
y = training_data['stars_reviews']

In [69]:
# from sklearn.cross_validation import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_std = scaler.fit_transform(X)
# X_te_std = scaler.transform(X_test)

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.cross_validation import cross_val_score

In [8]:
clf = tree.DecisionTreeClassifier(max_leaf_nodes=10)
print cross_val_score(clf, X_std, y, cv=5, n_jobs=4, verbose=True).mean()

0.415588793525

[Parallel(n_jobs=4)]: Done   5 out of   5 | elapsed:    2.9s finished